/* =============
    Typography
============= */

body {
    font-family: 'Open Sans', sans-serif;
    // font-family: 'Comfortaa', cursive;
<<<<<<< HEAD
    // front-family: 'Pacifico', cursive;
=======
    // font-family: 'Pacifico', cursive;
>>>>>>> 031b9a4688bdf05a9a47a81be86ca32256cbddb9
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

p {
<<<<<<< HEAD
    margin: 0;
    padding: 0;
=======
   margin: 0;
   padding: 0; 
>>>>>>> 031b9a4688bdf05a9a47a81be86ca32256cbddb9
}